/* style.css */

body{

  margin:0;
  font-family:Arial;
  background:#f2f2f2;
  padding-bottom:80px;

}

.topo{

  background:#ff6600;
  color:white;
  padding:20px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
  position:sticky;
  top:0;
  z-index:999;

}

#lista-palpite{

  padding:12px;

}

.card{

  background:white;
  border-radius:18px;
  padding:18px;
  margin-bottom:14px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.top-card{

  display:flex;
  justify-content:space-between;
  align-items:center;

}

.animal{

  font-size:24px;
  font-weight:bold;
  color:#222;

}

.grupo{

  background:#ff6600;
  color:white;
  padding:6px 12px;
  border-radius:10px;
  font-size:14px;

}

.linha{

  height:1px;
  background:#ddd;
  margin:14px 0;

}

.info{

  color:#444;
  line-height:28px;
  font-size:16px;

}

.milhar{

  text-align:center;
  font-size:42px;
  color:#ff6600;
  font-weight:bold;
  margin-top:15px;

}

.numeros{

  display:flex;
  justify-content:space-around;
  margin-top:15px;
  font-size:15px;
  color:#555;

}

.btn{

  width:100%;
  margin-top:18px;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#25d366;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;

}

.btn:hover{

  opacity:0.9;

}

.loading,
.erro{

  background:white;
  padding:20px;
  border-radius:12px;
  text-align:center;
  margin-top:20px;
  font-size:18px;

}

.rodape{

  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background:#ff6600;
  display:flex;
  justify-content:space-around;
  padding:14px 0;
  z-index:999;

}

.rodape button{

  background:none;
  border:none;
  color:white;
  font-size:14px;
  font-weight:bold;

}
.botoes{

  display:flex;
  gap:10px;
  margin-top:18px;

}

.btn-compartilhar{

  flex:1;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#25d366;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;

}

.btn-copiar{

  flex:1;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#ff6600;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;

}

.btn-compartilhar:hover,
.btn-copiar:hover{

  opacity:0.9;

}

/*************************************************
 TOAST
*************************************************/

.mensagem-copy{

  position:fixed;
  bottom:100px;
  left:50%;
  transform:translateX(-50%);
  background:#222;
  color:white;
  padding:14px 22px;
  border-radius:12px;
  font-size:16px;
  opacity:0;
  transition:0.3s;
  z-index:99999;

}

.mensagem-copy.mostrar{

  opacity:1;

}
